<div class="dialog-container">
    <h2>Nova Postagem</h2>

    <mat-dialog-content>
        
        <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
            <mat-form-field>
                <mat-label>Autor</mat-label>
                <input matInput name="author" [(ngModel)]="author" ngModel required>
                <mat-error>Você deve escrever o nome do Autor</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Título</mat-label>
                <input matInput name="title" [(ngModel)]="title" ngModel required>
                <mat-error>Você deve escrever o título da postagem</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput name="date" [(ngModel)]="date" ngModel required>
                <mat-error>Você deve selecionar uma data</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Conteúdo</mat-label>
                <textarea matInput rows="10" [(ngModel)]="content" name="content" ngModel required></textarea>
                <mat-error>Você deve escrever o consteúdo da conteúdo</mat-error>
            </mat-form-field>

            <button mat-flat-button [disabled]="!postForm.form.valid">Salvar</button>
        </form>

    </mat-dialog-content>
</div>